@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

$fontFamily: "Orbitron",
sans-serif;
$primaryColor: #e1a628;
$secondaryColor: #5dc8d3;
$sectionHeight: 100vh;

@mixin flexContent($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}

@mixin aboutMe-Veritcle {
    @include flexContent(column, center);

    p {
        width: 70vw;
        height: 50vh;
        overflow-y: scroll;
        font-size: small;
    }

    img {
        width: 15rem;
    }
}

@mixin Projects-Veritcle {
    @include flexContent(column, center);

    width: 80vw;
    overflow-y: scroll;
    font-size: small;
}

body {
    margin: auto;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: $fontFamily;
}

h3 {
    color: $primaryColor;
}

// NavBar.js
.logo {
    width: 15rem;
}

.container {
    padding: 0;
    position: fixed !important;
    z-index: 1;

    .navList {
        .nav-Link {
            text-align: center;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            color: $primaryColor !important;

            &:hover {
                color: $secondaryColor !important;
                border-bottom: 3px solid $secondaryColor;
            }
        }
    }

    nav.p-4.navbar.navbar-expand-lg.navbar-light {
        left: 0;
        background-color: rgba(15, 15, 19, 0.856);
        width: 100vw;
    }

    .navbarScroll {
        margin-bottom: 2rem;
        text-align: right;
    }

    @media (max-width: 576px) {
        height: min-content;
    }
}

// Header.js
.Header-section {
    @include flexContent(row, center);
    height: 100vh;
    background-image: url("/src/Header-background.jpeg"),
        linear-gradient(to bottom, rgb(15, 15, 19) 20%, #999fa1 50%);
    background-blend-mode: multiply;

    .myTitle {
        color: $primaryColor;
        font-size: xx-large;
    }

    .typed-text {
        color: $secondaryColor;
        font-size: larger;
    }

    @media (max-width: 576px) {
        .myTitle {
            font-size: larger;
        }

        .typed-text {
            font-size: large;
        }
    }
}

//  AboutMe.js
.about-me {
    height: $sectionHeight;
    @include flexContent(row, space-evenly);

    p {
        font-family: sans-serif;
        width: 50vw;
        line-height: 200%;
    }

    @media (max-width: 575.98px) {
        @include aboutMe-Veritcle();
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        @include aboutMe-Veritcle();
    }
}

// Projects.js
.projects {
    padding: 3rem;
    height: $sectionHeight;
    @include flexContent(column, space-evenly);
    background-image: url("/src/projects-sec.jpeg"),
        linear-gradient(to top, rgb(15, 15, 18) 30%, #d3d8da 100%);
    background-blend-mode: multiply;
    background-size: cover;

    .projects-list {
        @include flexContent(row, center);

        @media (max-width: 575.98px) {
            @include Projects-Veritcle();
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
            @include Projects-Veritcle();
        }
    }

    @media (max-width: 575.98px) {
        height: min-content;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        height: min-content;
    }
}

// ProjectCard.js
.content {
    min-height: "10rem";

    &:hover {
        background-color: $secondaryColor;
    }
}

.card-footer {
    @include flexContent(row, space-between);
    min-height: "2rem";
    color: #808485;
}

//Experience.js
.experience {
    height: 80vh;
    @include flexContent(column, space-evenly);
    padding-top: 3rem;
    font-size: small
}

// Contact.js
.contact {
    height: 10vh;
    @include flexContent(row, center);
    background-color: $primaryColor;

}

// Footer.js
.footer {
    @include flexContent(row, center);
    background-color: rgba(15, 15, 19, 0.856);
    color: $secondaryColor;
    padding: 2rem;

    .footerContainer {
        @include flexContent(column, center);
        height: 20vh;
    }

    .iconsContainer {
        @include flexContent(row, space-evenly);

        .icon {
            color: $secondaryColor;
        }
    }

    @media (max-width: 575.98px) {
        font-size: smaller;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: smaller;
    }
}