@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
body {
  margin: auto;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Orbitron", sans-serif;
}

.logo {
  width: 15rem;
}

.container {
  background-color: rgba(15, 15, 19, 0.856);
  position: fixed;
}

.container .navList .nav-Link {
  text-align: center;
  margin-right: 0.50rem;
  margin-left: 0.50rem;
  color: #e1a628 !important;
}

.container .navList .nav-Link:hover {
  color: #5dc8d3 !important;
  border-bottom: 3px solid #5dc8d3;
}

.container .navbarScroll {
  margin-bottom: 2rem;
  text-align: right;
}

@media (max-width: 576px) {
  .container {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.Header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("/src/Header-background.jpeg"), -webkit-gradient(linear, left top, left bottom, color-stop(15%, #0f0f13), color-stop(50%, #d3d8da));
  background-image: url("/src/Header-background.jpeg"), linear-gradient(to bottom, #0f0f13 15%, #d3d8da 50%);
  background-blend-mode: darken;
}

.Header-section .myTitle {
  color: #e1a628;
  font-size: xx-large;
}

.Header-section .typed-text {
  color: #5dc8d3;
  font-size: larger;
}

@media (max-width: 576px) {
  .Header-section .myTitle {
    font-size: larger;
  }
  .Header-section .typed-text {
    font-size: large;
  }
}

.about-me {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me h3 {
  color: #e1a628;
}

.about-me p {
  font-family: sans-serif;
  width: 50vw;
  line-height: 200%;
}

@media (max-width: 575.98px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me p {
    width: 70vw;
    height: 50vh;
    overflow-y: scroll;
    font-size: small;
  }
  .about-me img {
    width: 15rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me p {
    width: 70vw;
    height: 50vh;
    overflow-y: scroll;
    font-size: small;
  }
  .about-me img {
    width: 15rem;
  }
}
/*# sourceMappingURL=App.css.map */