@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
body {
  margin: auto;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Orbitron", sans-serif;
}

h3 {
  color: #e1a628;
}

.logo {
  width: 15rem;
}

.container {
  background-color: rgba(15, 15, 19, 0.856);
  position: fixed;
  z-index: 1;
}

.container .navList .nav-Link {
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #e1a628 !important;
}

.container .navList .nav-Link:hover {
  color: #5dc8d3 !important;
  border-bottom: 3px solid #5dc8d3;
}

.container .navbarScroll {
  margin-bottom: 2rem;
  text-align: right;
}

@media (max-width: 576px) {
  .container {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.Header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("/src/Header-background.jpeg"), -webkit-gradient(linear, left top, left bottom, color-stop(15%, #0f0f13), color-stop(50%, #d3d8da));
  background-image: url("/src/Header-background.jpeg"), linear-gradient(to bottom, #0f0f13 15%, #d3d8da 50%);
  background-blend-mode: darken;
}

.Header-section .myTitle {
  color: #e1a628;
  font-size: xx-large;
}

.Header-section .typed-text {
  color: #5dc8d3;
  font-size: larger;
}

@media (max-width: 576px) {
  .Header-section .myTitle {
    font-size: larger;
  }
  .Header-section .typed-text {
    font-size: large;
  }
}

.about-me {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me p {
  font-family: sans-serif;
  width: 50vw;
  line-height: 200%;
}

@media (max-width: 575.98px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me p {
    width: 70vw;
    height: 50vh;
    overflow-y: scroll;
    font-size: small;
  }
  .about-me img {
    width: 15rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me p {
    width: 70vw;
    height: 50vh;
    overflow-y: scroll;
    font-size: small;
  }
  .about-me img {
    width: 15rem;
  }
}

.projects {
  padding: 3rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/src/projects-sec.jpeg"), -webkit-gradient(linear, left bottom, left top, color-stop(30%, #0f0f12), to(#d3d8da));
  background-image: url("/src/projects-sec.jpeg"), linear-gradient(to top, #0f0f12 30%, #d3d8da 100%);
  background-blend-mode: multiply;
  background-size: cover;
}

.projects .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .projects .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
    overflow-y: scroll;
    font-size: small;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .projects .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
    overflow-y: scroll;
    font-size: small;
  }
}

@media (max-width: 575.98px) {
  .projects {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .projects {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.content {
  min-height: "10rem";
}

.content:hover {
  background-color: #5dc8d3;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: "2rem";
  color: #808485;
}

.experience {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  font-size: small;
}

.contact {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1a628;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(15, 15, 19, 0.856);
  color: #5dc8d3;
  padding: 2rem;
}

.footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
}

.footer .iconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .iconsContainer .icon {
  color: #5dc8d3;
}

@media (max-width: 575.98px) {
  .footer {
    font-size: smaller;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    font-size: smaller;
  }
}
/*# sourceMappingURL=App.css.map */